@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Fellow CSMs</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Let us try building Web apps with ASP.NET Core</a>.</p>
</div>
